<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @qualificationposition.name %>
</p>

<%= link_to 'Edit', edit_qualificationposition_path(@qualificationposition) %> |
<%= link_to 'Back', qualificationpositions_path %>
