<!-- Row 1 -->

<!-- Button trigger modal -->

 <button type="button" class="btn btn-default">Default</button>

<div id="product-modal" class="modal fade" tabindex="-1" role="dialog"></div>
 <button type="button" class="btn btn-primary">Save changes</button>

<div class='row text-center'>
  <div class='col-md-3'><h2>Qualifications</h2></div>
  <div class='col-md-3'><h2>Semifinals</h2></div>
  <div class='col-md-3'><h2>Final</h2></div>
  <div class='col-md-3'><h2>Winner</h2></div>
</div>

<!-- Row 2-->
<div class='row text-center'>
  <div class='col-md-3'><h4>Round 1</h4></div>
  <div class='col-md-3'></div>
  <div class='col-md-3'></div>
  <div class='col-md-3'></div>
</div>

<!-- Row 3-->
<div class='row text-center'>
  <div class='col-md-3 paddingtop-db'>
    <p class='marginbottom-p'>

      <%= link_to @startup1.name, startup_path(@startup1) , remote: true unless @astartup1.nil?   %></p>


    <img src="http://placehold.it/200x50">
  </div>
  <div class='col-md-3'></div>
  <div class='col-md-3'></div>
  <div class='col-md-3'></div>
</div>

<!-- Row 4-->
<!-- Qualifications pos 1-->
<div class='row text-center'>
  <div class='col-md-3 paddingtop-db'>
    <p class='marginbottom-p'><%= @startups.find(2).name unless @article.nil? %></p>
    <img src="http://placehold.it/200x50">
  </div>
  <!-- Semifinals pos 1-->
  <div class='col-md-3 paddingtop-db'>
    <p class='marginbottom-p'>Semifinal pos 1</p>
    <img src="http://placehold.it/200x50">
  </div>
  <div class='col-md-3'></div>
  <div class='col-md-3'></div>
</div>

<!-- -->
<div class='row text-center'>
  <!-- Qualifications pos 3-->
  <div class='col-md-3 paddingtop-db'>
    <p class='marginbottom-p'>Qualifications pos 3</p>
    <img src="http://placehold.it/200x50">
  </div>
  <div class='col-md-3'></div>
  <div class='col-md-3'></div>
  <div class='col-md-3'></div>
</div>

<!-- -->
<div class='row text-center'>
  <div class='col-md-3 paddingtop-db paddingbottom-db'>
    <p class='marginbottom-p'>Qualifications pos 3</p>
    <img src="http://placehold.it/200x50">
  </div>
  <div class='col-md-3 paddingtop-db'>
    <p class='marginbottom-p'>Semifinals 2</p>
  <img src="http://placehold.it/200x50">
  </div>
  <div class='col-md-3'></div>
  <div class='col-md-3'></div>
</div>

<!-- -->
<div class='row text-center'>
  <div class='col-md-3'><h4 class='paddingtop-round'>Round 2</h4></div>
  <div class='col-md-3'></div>
  <div class='col-md-3 paddingtop-db paddingbottom-db'>
    <p class='marginbottom-p'>Finals 1</p>
    <img src="http://placehold.it/200x50">
  </div>
  <div class='col-md-3'></div>
</div>

<!-- -->
<div class='row text-center'>
  <div class='col-md-3 paddingtop-db'>
    <p class='marginbottom-p'></p>
    <img src="http://placehold.it/200x50">
  </div>
  <div class='col-md-3 paddingtop-db'>
    <p class='marginbottom-p'></p>
    <img src="http://placehold.it/200x50">
  </div>
  <div class='col-md-3'></div>
  <div class='col-md-3'><img src="<%= image_url('throphy.png')%>" height="100" width="100"></div>
</div>

<!-- -->
<div class='row text-center'>
  <div class='col-md-3 paddingtop-db'>
    <p class='marginbottom-p'></p>
    <img src="http://placehold.it/200x50">
  </div>
  <div class='col-md-3'></div>
  <div class='col-md-3 paddingtop-db paddingbottom-db'>
    <p class='marginbottom-p'></p>
    <img src="http://placehold.it/200x50">
  </div>
    <div class='col-md-3 paddingtop-db paddingbottom-db'>
    <p class='marginbottom-p'></p>
    <img src="http://placehold.it/200x50">
  </div>
</div>

<!-- -->
<div class='row text-center'>
  <div class='col-md-3 paddingtop-db'>
    <p class='marginbottom-p'></p>
    <img src="http://placehold.it/200x50">
  </div>
  <div class='col-md-3 paddingtop-db'>
    <p class='marginbottom-p'></p>
    <img src="http://placehold.it/200x50">
  </div>
  <div class='col-md-3'></div>
  <div class='col-md-3'></div>
</div>

<!-- -->
<div class='row text-center'>
  <div class='col-md-3 paddingbottom-db paddingtop-db'>
    <p class='marginbottom-p'></p>
    <img src="http://placehold.it/200x50">
  </div>
  <div class='col-md-3'></div>
  <div class='col-md-3 paddingtop-db paddingbottom-db'>
    <p class='marginbottom-p'></p>
    <img src="http://placehold.it/200x50">
  </div>
  <div class='col-md-3'></div>
</div>

<!-- -->
<div class='row text-center'>
  <div class='col-md-3'><h4 class='paddingtop-round'>Round 3</h4></div>
  <div class='col-md-3 paddingtop-db'>
    <p class='marginbottom-p'></p>
    <img src="http://placehold.it/200x50">
  </div>
  <div class='col-md-3'></div>
  <div class='col-md-3'></div>
</div>

<!-- -->
<div class='row text-center'>
  <div class='col-md-3 paddingtop-db'>
    <p class='marginbottom-p'></p>
    <img src="http://placehold.it/200x50">
  </div>
  <div class='col-md-3'></div>
  <div class='col-md-3'></div>
  <div class='col-md-3'></div>
</div>

<!-- -->
<div class='row text-center'>
  <div class='col-md-3 paddingtop-db'>
    <p class='marginbottom-p'></p>
    <img src="http://placehold.it/200x50">
  </div>
  <div class='col-md-3 paddingtop-db'>
    <p class='marginbottom-p'></p>
    <img src="http://placehold.it/200x50">
  </div>
  <div class='col-md-3'></div>
  <div class='col-md-3'></div>
</div>

<!-- -->
<div class='row text-center'>
  <div class='col-md-3 paddingtop-db'>
    <p class='marginbottom-p'></p>
    <img src="http://placehold.it/200x50">
  </div>
  <div class='col-md-3'></div>
  <div class='col-md-3'></div>
  <div class='col-md-3'></div>
</div>

<!-- -->
<div class='row text-center'>
  <div class='col-md-3 paddingbottom-db paddingtop-db'>
    <p class='marginbottom-p'></p>
    <img src="http://placehold.it/200x50">
  </div>
  <div class='col-md-3'></div>
  <div class='col-md-3'></div>
  <div class='col-md-3'></div>
</div>







