@import "bootstrap";



.height-p{
  height: 65px;
}

.height-ps{
  height: 20px;
}

 .paddingtop-db{
   padding-top: 10px;
 }

  .paddingtop-round{
   padding-top: 50px;
 }

 .marginbottom-p{
   margin-bottom: 0px;
  
 }
  .paddingbottom-db{
   padding-bottom: 10px;
 
 }

 .border-rl{
  border-right: 1px solid;
  border-left: 1px solid; 
  border-color: #7f8c8d; 
 }

  .border-rlt{
  border-right: 1px solid;
  border-left: 1px solid; 
  border-top: 1px solid; 
  border-color: #7f8c8d;
 }

  .border-rlb{
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid; 
  border-color: #7f8c8d; 
 }  



