<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @semifinalposition.name %>
</p>

<%= link_to 'Edit', edit_semifinalposition_path(@semifinalposition) %> |
<%= link_to 'Back', semifinalpositions_path %>
